openapi: 3.1.0
info:
  title: LetsFG API
  version: 0.2.16
  description: |
    Agent-native flight and hotel booking API. Hundreds of airlines with virtual interlining,
    plus real bookable hotel inventory — built for AI agents (OpenClaw, Perplexity Computer,
    Claude, Cursor, Windsurf) and developers.

    Hotels authenticate on a Developer API key (X-API-Key) and reject the PFS Bearer token.
    They require a card on file for every call, search included, and booking charges a 10%
    non-refundable reservation fee with the balance paid directly to the supplier.

    ## How It Works
    1. **Search** (free) — real-time offers from hundreds of airlines
    2. **Unlock** (1% of ticket, min $3) — Developer API only; confirm live price, reveal direct booking URL. PFS agents skip this and call POST /api/agent-book instead.
    3. **Book** (ticket price, Developer API only) — create real airline PNR

    ## Authentication
    Two paths:

    **PFS Bearer token** (free search + booking): One-time payment-method-on-file via `letsfg auth` (90-day token). Nothing is charged — a zero-amount Stripe setup.
    ```
    curl -X POST https://letsfg.co/api/agent-access/request
    # add a card at setup_url (or confirm the SetupIntent headlessly), then:
    curl -X POST https://letsfg.co/api/agent-access/verify -d '{"setup_session_id":"cs_..."}'
    # -> {"token": "eyJ..."}
    ```

    **Developer API key** (prepaid credits, no per-booking fee):
    ```
    pip install letsfg
    letsfg register --name my-agent --email you@example.com
    ```
  contact:
    name: LetsFG Support
    email: contact@letsfg.co
    url: https://letsfg.co
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://letsfg.co/developers/api/v1
    description: Production

security:
  - ApiKeyAuth: []

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: "LetsFG API key (prefix: trav_)"

  schemas:
    FlightSearchRequest:
      type: object
      required: [origin, destination, date_from]
      properties:
        origin:
          type: string
          minLength: 3
          maxLength: 3
          description: "IATA airport or city code (e.g. LHR, LON, JFK)"
          example: "LHR"
        destination:
          type: string
          minLength: 3
          maxLength: 3
          description: "IATA airport or city code"
          example: "JFK"
        date_from:
          type: string
          format: date
          description: "Departure date (YYYY-MM-DD)"
          example: "2026-04-15"
        date_to:
          type: string
          format: date
          description: "Return date for round-trip (YYYY-MM-DD). Omit for one-way."
        adults:
          type: integer
          minimum: 1
          maximum: 9
          default: 1
          description: "Number of adult passengers"
        children:
          type: integer
          minimum: 0
          maximum: 8
          default: 0
          description: "Number of children (2-11 years)"
        cabin:
          type: string
          enum: [M, W, C, F]
          description: "Cabin class: M=economy, W=premium economy, C=business, F=first"
        max_stops:
          type: integer
          minimum: 0
          maximum: 4
          default: 2
          description: "Maximum stopovers per direction"
        currency:
          type: string
          minLength: 3
          maxLength: 3
          default: "EUR"
          description: "3-letter currency code"
          example: "EUR"
        limit:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
          description: "Maximum number of results"
        sort:
          type: string
          enum: [price, duration]
          default: "price"

    FlightSearchResponse:
      type: object
      properties:
        search_id:
          type: string
          description: "Unique search identifier"
        passenger_ids:
          type: array
          items:
            type: string
          description: "Passenger IDs to use when booking (e.g. pas_0, pas_1)"
        total_results:
          type: integer
          description: "Total number of matching offers"
        offers:
          type: array
          items:
            $ref: '#/components/schemas/FlightOffer'

    FlightOffer:
      type: object
      properties:
        id:
          type: string
          description: "Offer ID (use for unlock/book)"
          example: "off_abc123"
        price:
          type: number
          format: float
          description: "Total price for all passengers"
          example: 189.50
        currency:
          type: string
          example: "EUR"
        airlines:
          type: array
          items:
            type: string
          description: "Airlines operating the flights"
          example: ["Ryanair"]
        owner_airline:
          type: string
          description: "Primary operating airline"
        route:
          type: string
          description: "Route summary (e.g. STN → BCN)"
        duration_seconds:
          type: integer
          description: "Total journey duration in seconds"
        stopovers:
          type: integer
          description: "Number of stops"
        outbound:
          $ref: '#/components/schemas/FlightRoute'
        inbound:
          $ref: '#/components/schemas/FlightRoute'
          description: "Present only for round-trip searches"
        conditions:
          type: object
          properties:
            refund_before_departure:
              type: string
              enum: [allowed, allowed_with_fee, not_allowed]
            change_before_departure:
              type: string
              enum: [allowed, allowed_with_fee, not_allowed]
        starlink:
          type: string
          nullable: true
          enum: [confirmed_all, confirmed_some, likely_all, likely_some]
          description: >-
            Starlink in-flight Wi-Fi across the whole itinerary. 'confirmed_all'
            = every leg is on a subfleet the carrier has fully fitted;
            'confirmed_some' = at least one leg confirmed and at least one leg
            with none; 'likely_all' / 'likely_some' = same, but for subfleets
            where installation is underway and incomplete. Per-leg detail is on
            each segment's `starlink`. Only present 'confirmed_*' to an end user
            as a fact. Omitted/null means no information for any leg.
          example: "confirmed_all"
        is_locked:
          type: boolean
          description: "Whether this offer has been unlocked"
        source:
          type: string
          description: "Data source (e.g. ryanair, amadeus, duffel)"

    FlightRoute:
      type: object
      properties:
        segments:
          type: array
          items:
            $ref: '#/components/schemas/FlightSegment'
        total_duration_seconds:
          type: integer
        stopovers:
          type: integer
        route_str:
          type: string
          description: "Human-readable route (e.g. LHR → BCN)"

    FlightSegment:
      type: object
      properties:
        airline:
          type: string
        flight_no:
          type: string
        origin:
          type: string
        destination:
          type: string
        departure:
          type: string
          format: date-time
        arrival:
          type: string
          format: date-time
        duration_seconds:
          type: integer
        cabin:
          type: string
        aircraft:
          type: string
          description: "Aircraft type as reported by the source, when known (e.g. 'Boeing 737MAX 8')"
        starlink:
          type: string
          nullable: true
          enum: [confirmed, likely]
          description: >-
            Starlink in-flight Wi-Fi on this leg. 'confirmed' = the carrier has
            fitted every aircraft of this type. 'likely' = installation on this
            type is underway but incomplete, so this airframe may not have it.
            Omitted/null means no information — NOT an absence of Wi-Fi.
          example: "confirmed"

    UnlockRequest:
      type: object
      required: [offer_id]
      properties:
        offer_id:
          type: string
          description: "Offer ID from search results"

    UnlockResponse:
      type: object
      properties:
        offer_id:
          type: string
        confirmed_price:
          type: number
          format: float
        confirmed_currency:
          type: string
        offer_expires_at:
          type: string
          format: date-time
          description: "Offer reserved until this time (30 min window)"
        booking_url:
          type: string
          format: uri
          description: "Direct booking link (if available)"

    BookRequest:
      type: object
      required: [offer_id, passengers, contact_email]
      properties:
        offer_id:
          type: string
        passengers:
          type: array
          items:
            $ref: '#/components/schemas/Passenger'
        contact_email:
          type: string
          format: email
        idempotency_key:
          type: string
          description: "Prevent double-booking on retry"

    Passenger:
      type: object
      required: [id, given_name, family_name, born_on, gender, title]
      properties:
        id:
          type: string
          description: "Passenger ID from search response (e.g. pas_0)"
        given_name:
          type: string
        family_name:
          type: string
        born_on:
          type: string
          format: date
          description: "Date of birth (YYYY-MM-DD)"
        gender:
          type: string
          enum: [m, f]
        title:
          type: string
          enum: [mr, mrs, ms, miss, dr]

    BookingResponse:
      type: object
      properties:
        booking_id:
          type: string
        booking_reference:
          type: string
          description: "Airline PNR / confirmation code"
        status:
          type: string
          enum: [confirmed, pending, failed]
        total_price:
          type: number
          format: float
        currency:
          type: string

    RegisterRequest:
      type: object
      required: [agent_name, email]
      properties:
        agent_name:
          type: string
        email:
          type: string
          format: email

    RegisterResponse:
      type: object
      properties:
        agent_id:
          type: string
        api_key:
          type: string
          description: "Your API key (prefix: trav_). Store securely."
        message:
          type: string

    AgentProfile:
      type: object
      properties:
        agent_id:
          type: string
        agent_name:
          type: string
        email:
          type: string
        payment_status:
          type: string
          enum: [active, inactive, pending]
        search_count:
          type: integer
        booking_count:
          type: integer
        created_at:
          type: string
          format: date-time

    SetupPaymentRequest:
      type: object
      properties:
        token:
          type: string
          description: "Stripe token (e.g. tok_visa for testing)"
        payment_method_id:
          type: string
          description: "Stripe PaymentMethod ID"

    LocationResult:
      type: object
      properties:
        iata_code:
          type: string
        name:
          type: string
        type:
          type: string
          enum: [airport, city]
        city:
          type: string
        country:
          type: string

    ErrorResponse:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
        status_code:
          type: integer

paths:
  /api/v1/agents/register:
    post:
      operationId: registerAgent
      summary: Register a new agent
      description: "Create an account and get an API key. No authentication required."
      security: []
      tags: [Authentication]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: Agent registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterResponse'
        '409':
          description: Agent name or email already registered

  /api/v1/agents/me:
    get:
      operationId: getAgentProfile
      summary: Get agent profile
      description: "View your account info, payment status, and usage stats."
      tags: [Authentication]
      responses:
        '200':
          description: Agent profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentProfile'
        '401':
          description: Invalid or missing API key

  /api/v1/agents/setup-payment:
    post:
      operationId: setupPayment
      summary: Set up payment method
      description: "Attach a Stripe payment method. Required before unlock (PFS path) or book."
      tags: [Authentication]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetupPaymentRequest'
      responses:
        '200':
          description: Payment method attached
        '401':
          description: Invalid or missing API key

  /api/v1/flights/search:
    post:
      operationId: searchFlights
      summary: Search flights
      description: |
        Search hundreds of airlines for flights. Free and unlimited.
        Results include price, airlines, duration, stopovers, and booking conditions.
        City codes (LON, NYC, PAR) automatically expand to all airports in that city.
      tags: [Flights]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FlightSearchRequest'
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlightSearchResponse'
        '401':
          description: Invalid or missing API key
        '422':
          description: Invalid request (bad IATA code, date in past, etc.)

  /api/v1/flights/resolve-location:
    get:
      operationId: resolveLocation
      summary: Resolve city/airport name to IATA codes
      description: "Convert city names or airport names to IATA codes. Use before search to resolve ambiguous locations."
      tags: [Flights]
      parameters:
        - name: query
          in: query
          required: true
          schema:
            type: string
          description: "City or airport name (e.g. 'London', 'JFK')"
          example: "London"
      responses:
        '200':
          description: Matching locations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LocationResult'

  /api/v1/hotels/destinations:
    post:
      operationId: resolveHotelCity
      summary: Resolve a place name to a supplier city id
      description: |
        Convert a place name into the `city_id` that hotel search needs.
        Take `Id` from the first result as `city_id` and `Name` as `city_name`.
      tags: [Hotels]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [text]
              properties:
                text:
                  type: string
                  example: "Warsaw"
      responses:
        '200':
          description: Matching destinations, best first
        '402':
          description: No payment method on file. Hotels require a card for every call, search included.

  /api/v1/hotels/search:
    post:
      operationId: searchHotels
      summary: Search bookable hotel rates
      description: |
        Search real, bookable hotel inventory.

        Only free-cancellation, pay-later rates are returned — those are the rates where the guest's
        balance can safely be settled with the supplier after booking, which is what makes the
        10%-now/rest-later model work. The result set is therefore smaller than a metasearch's, and
        every row in it can actually be booked.

        `price` is what the guest pays. There is no wholesale figure in the response to quote by
        mistake. Keep `session_id` and the chosen offer's `combination_id_v2` — together they
        identify that exact rate, and booking needs both.

        A payment method on file is required for search, not just booking: a search opens a real
        session at the supplier.
      tags: [Hotels]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [city_id, city_name, check_in, check_out]
              properties:
                city_id: { type: integer, example: 148614 }
                city_name: { type: string, example: "Warsaw, Poland" }
                check_in: { type: string, format: date, example: "2026-11-10" }
                check_out: { type: string, format: date, example: "2026-11-12" }
                adults: { type: integer, default: 2 }
                children: { type: integer, default: 0 }
                child_ages:
                  type: array
                  items: { type: integer }
                  description: Required by the supplier to price children.
                nationality:
                  type: string
                  default: "PL"
                  description: Two-letter code. Rates and taxes genuinely differ by nationality.
                limit: { type: integer, default: 40, maximum: 200 }
      responses:
        '200':
          description: Hotels with bookable offers
        '402':
          description: No payment method on file
        '504':
          description: The supplier did not answer in time

  /api/v1/hotels/book:
    post:
      operationId: bookHotel
      summary: Start a hotel booking (asynchronous)
      description: |
        Returns a `booking_job_id`, **not** a booking. A real booking takes minutes: the rate is
        re-blocked at the supplier, the card charged, and the room committed. Poll
        `GET /api/v1/hotels/booking/{booking_job_id}` until `status` is `succeeded` or `failed`.

        This is not ceremony — it is what makes it impossible to charge a card and then lose the
        confirmation to a timeout.

        The 10% reservation fee is charged BEFORE the room is committed, so a declined card costs
        nothing: no reservation exists and nothing is charged.

        Send `expected_price` and `expected_balance` back exactly as search returned them. The
        booking is refused if the supplier's price has moved, so a guest is never charged a price
        they did not agree to.

        NOT idempotent. Calling twice for the same rate books the room twice and charges two fees.
      tags: [Hotels]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [session_id, hotel_code, combination_id_v2, expected_price,
                         expected_balance, city_id, city_name, check_in, check_out,
                         guests, email, phone]
              properties:
                session_id: { type: string }
                hotel_code: { type: integer }
                combination_id_v2:
                  type: string
                  description: Identifies the exact rate. Room name alone is ambiguous.
                combination_id: { type: integer }
                expected_price:
                  type: number
                  description: The offer's `price`, verbatim.
                expected_balance:
                  type: number
                  description: The offer's `balance_to_supplier`, verbatim.
                hotel_name: { type: string }
                city_id: { type: integer }
                city_name: { type: string }
                check_in: { type: string, format: date }
                check_out: { type: string, format: date }
                adults: { type: integer, default: 2 }
                guests:
                  type: array
                  items:
                    type: object
                    required: [title, first_name, last_name]
                    properties:
                      title: { type: string, example: "Mr" }
                      first_name: { type: string }
                      last_name: { type: string }
                email:
                  type: string
                  description: The voucher and pay link go here. A typo loses the booking.
                phone: { type: string }
                phone_country_code: { type: string, default: "48" }
                special_requests:
                  type: array
                  items: { type: string }
      responses:
        '202':
          description: Booking started — poll the returned booking_job_id
        '402':
          description: No payment method on file
        '409':
          description: The chosen rate is gone

  /api/v1/hotels/booking/{booking_job_id}:
    get:
      operationId: getHotelBooking
      summary: Collect a booking result and pay link
      description: |
        Poll every ~20s. `status` is `in_progress`, `succeeded` or `failed`.

        On success: `confirmation`, `reservation_fee_charged`, `pay_link`, `balance_due`,
        `balance_due_by` and `terms` (including the full cancellation ladder). The guest pays
        `balance_due` directly to the supplier through `pay_link` by `balance_due_by`, which is the
        supplier's own auto-cancellation date.
      tags: [Hotels]
      parameters:
        - name: booking_job_id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Booking status, and the booking itself once it settles
        '404':
          description: No such booking job for this account

  /api/v1/hotels/cancel:
    post:
      operationId: cancelHotelBooking
      summary: Release a hotel reservation
      description: |
        Free until `balance_due_by`; after that the hotel's own cancellation ladder applies and can
        reach 100%. That ladder ships in the booking's `terms`, so the cost is knowable first.

        The 10% reservation fee is NOT refunded.

        Drives a browser at the supplier and takes over a minute. If it times out, do not assume it
        failed — re-check before retrying.
      tags: [Hotels]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [confirmation]
              properties:
                confirmation: { type: string, example: "8BXJPX" }
      responses:
        '200':
          description: Cancelled, with any charge applied
        '402':
          description: No payment method on file

  /api/v1/bookings/unlock:
    post:
      operationId: unlockOffer
      summary: Unlock a flight offer
      description: |
        Confirm the live price with the airline and reveal the direct booking URL.
        Cost: 1% of ticket price (min $3). Developer API only — there is no unlock endpoint on a PFS Bearer token.
        The confirmed price may differ from the search price (airline prices change in real-time).
      tags: [Bookings]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnlockRequest'
      responses:
        '200':
          description: Offer unlocked and reserved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnlockResponse'
        '401':
          description: Invalid or missing API key
        '402':
          description: No payment method set up
        '410':
          description: Offer expired (search again)

  /api/v1/bookings/book:
    post:
      operationId: bookFlight
      summary: Book a flight
      description: |
        Create a real airline booking (PNR). Ticket price charged via Stripe.
        Passenger names must match government ID. E-ticket sent to contact email.
      tags: [Bookings]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookRequest'
      responses:
        '200':
          description: Booking confirmed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingResponse'
        '401':
          description: Invalid or missing API key
        '410':
          description: Offer expired (30-min window passed)
        '422':
          description: Invalid passenger data
